NEXT_PUBLIC_ONCHAINKIT_API_KEY=your_api_key_here
NEXT_PUBLIC_PAYMASTER_URL=your_paymaster_url_here
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_BASE_RPC_URL=your_base_rpc_url_here
NEXT_PUBLIC_CHAIN_ID=your_chain_id_here
NEXT_PUBLIC_CONTRACT_ADDRESS=your_contract_address_here
NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS=your_sepolia_contract_address_here
NOTION_WAITLIST_TOKEN=your_notion_token_here
NOTION_WAITLIST_DATABASE_ID=your_database_id_here
